

.aimi-drawer--flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 20px;
    height: 400px;
    overflow: hidden;
    & > .aimi-drawer--panel{
        display: block;
        height: 400px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        // width: 640px;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        &.aimi-drawer--active{
            overflow: hidden;
            -webkit-transition: all .45s ease;
            -o-transition: all .45s ease;
            transition: all .45s ease;
            width: 640px;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
    }
}

.aimi-drawer--mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}



.aimi-drawer--panel{
    display: block;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 640px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.aimi-drawer--img{
    width: 100%;
    height:100%;
}

